/*General section*/
h1 {
	text-transform: uppercase;
	color: black;
	text-align: center;
}

h4 {
	padding-top: 20px;
	text-transform: uppercase;
	text-align: center;
}

.h-100 {
	background-color: #eaeaea;
	margin-top: 70px;
	padding: 30px;
}

img {
	display: block; margin: auto;
	border: 2px solid #eee;
}

.img-circle {
	border: 10px solid #d8d7d7;
}
/*------*/


/*Navigation*/
nav {
	margin: 0;
}
.main-nav-outer{
	background-color: #fff !important;
    box-shadow: 0 4px 5px -3px #5f5e5e;
    transition: background-color .3s linear;
    -webkit-transition: .3s;
    padding: 0;
    list-style: none;
    padding-top: 5px;
    width: 100%;
    height: 70px;
}
.main-nav{
	margin:10px 0 0px;
	padding:0;
	list-style:none;
}
.main-nav li{
	display:inline;
	margin:0 1px;
}
.main-nav li a{
	display:inline-block;
	color:#0082B8;
	font-family: Montserrat;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
	text-decoration: none;
	line-height:20px;
	padding: 8px 25px;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.main-nav li a:hover{ 
	text-decoration:none;
	color: #96d3ec;
}

.main-nav li a.translate {
	border: 2px solid #fff;
	border-radius: 50px;
	padding: 8px 25px
}

.main-nav li a.translate:hover {	
	padding: 8px 25px
	
}


.res-nav_click {
	line-height:38px;
	font-family: 'FontAwesome';
	font-size:38px;
	text-decoration: none !important;
	color:#0282b8;
	font-style:normal;
	display:none;
	width:42px;
	height:27px;
	margin:20px auto;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.res-nav_click:hover, .res-nav_click:active, .res-nav_click:focus {
	color: #0282b8 !important;
}
/*-------*/


/*Panels*/

.panel {
	border-radius: 0px;
	border: 0px;
}

.panel-body {
	padding: 20px;
}

.panel-body p {
	padding: 20px;
	text-align: justify;
}
/*Media Queries*/

@media only screen and (max-width: 479px) {
	.h-100 {
		padding-top: 20px;
		padding-left: 10px;
		padding-right: 10px;
	}
}

