{% extends "layout.html" %}

{% block head %}
    {{ super() }}

    <style>

		.container {
		    height: 100%;
		    display: flex;
		    justify-content: center;
		    align-items: center;
		    text-align: center;
		}

    </style>
{% endblock %}

{% block content %}
	
	<div class="container">
		<div>
			<img src="{{ url_for('static', filename='img/favicon.ico') }}" alt="">
			<h1>{{ status }}</h1>
			<h3>{{ message }}</h3>
			<p>
				<a href="/">
					Return Home
				</a>
			</p>
		</div>
	</div>

{% endblock %}