{% extends "layout.html" %}\

{% block head %}
	{{ super() }}

	<!-- Custom CSS -->
	<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
	<link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet" type="text/css">

	<!-- Bootstrap Select -->
	<link href="{{ url_for('static', filename='lib/bootstrap-select/css/bootstrap-select.min.css') }}" rel="stylesheet" type="text/css">
	<script type="text/javascript" src="{{ url_for('static', filename='lib/bootstrap-select/js/bootstrap-select.min.js') }}"></script>

	<!-- WOW JS -->
	<script type="text/javascript" src="{{ url_for('static', filename='js/wow.js') }}"></script>

	<!-- Classie JS -->
	<script type="text/javascript" src="{{ url_for('static', filename='js/classie.js') }}"></script>
{% endblock %}

{% block content %}
	<header class="parallax header" id="header">
			<div id="particles-js"></div>
			<div class="cover logo animated fadeInDown delay-07s">
				FILIPINEU<br>
				<p>A Bidirectional Filipino-English<br><b>Neural Machine Translation</b></p><br>
				<a class="link animated fadeInUp delay-1s servicelink" href="#service"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
			</div>
	</header>
	
	<div class="clear"></div>

	<section class="main-section" id="service">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="panel panel-default">
					  <div class="panel-heading">
					  	<select id="input-lang" class="selectpicker pull-left">
					  		<option value="en">
					  			English
					  		</option>
					  		<option value="fl">
					  			Filipino
					  		</option>
					  	</select>
						<button class="btn btn-default pull-right" id="button-clear" id="button-clear">
							<i class="fa fa-repeat" aria-hidden="true"></i>
						</button>

					  </div>
					  <div class="panel-body">
					    <textarea placeholder="Enter text here" id="input-area"></textarea>
					  </div>
					</div>
				</div>

				<div class="col-md-6">
					<div class="panel panel-default">
					  <div class="panel-heading">
					  	<select id="output-lang" class="selectpicker pull-left">
					  		<option value="fl">
					  			Filipino
					  		</option>
					  		<option value="en">
					  			English
					  		</option>
					  	</select>
					  </div>
					  <div class="panel-body">
					    <textarea placeholder="Output" id="output-area" readonly diabled></textarea>
					  </div>
					</div>
				</div>
			</div>
			<div class="clear"></div>
			<div class="row">
				<div class="col-md-2 col-md-offset-5 text-center">
					<button class="btn btn-primary" id="button-translate" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Translating">
						Translate
					</button>
				</div>
			</div>
		</div>
	</section>
{% endblock %}

{% block scripts %}
	<script>
		wow = new WOW({
			animateClass: 'animated',
			offset: 100
		});
		wow.init();
	</script>

	<script src="{{ url_for('static', filename='js/particles.js') }}"></script>
	<script src="{{ url_for('static', filename='js/app.js') }}"></script>

	<script type="text/javascript">
		var api_key = "0d600f2643ae8ffcdcf66965679c863aedc31c74661be4f2";
		var request;

		$("#input-lang").on('change', function(){
			var index = $('#input-lang').prop('selectedIndex');

			if(index == 0){
				$('#ouput-lang').val('fl').change();
			}
			else{
				$('#ouput-lang').val('en').change();
			}
		});

		$("#button-clear").on('click', function(){
			$('#input-area').val('');
			$('#output-area').val('');
		});

		$("#button-translate").on('click', function(){

			var $this = $(this);
			$this.button('loading');
			$this.prop('disabled', true);
			$("#input-area").prop("disabled", true);
			$("#output-area").prop("disabled", true);

			var url =  "/api/translate?key=" + api_key;

			// Abort any pending request
		    if(request){
		        request.abort();
		    }

		    request = $.ajax({
		        url: url,
		        type: "post",
		        data: {
		        	text: $("#input-area").val(),
		        	lang: $('#input-lang').val()
		        }
		    });

		    // Callback handler that will be called on success

		    request.done(function (response, textStatus, jqXHR){
		        // Log a message to the console
		        $('#output-area').val(response.data.output.text);
		    });


		    // Callback handler that will be called on failure
		    request.fail(function (jqXHR, textStatus, errorThrown){
		        // Log the error to the console
		        alert(
		            "The following error occurred: "+
		            textStatus, errorThrown
		        );
		    });

		    // Callback handler that will be called regardless
		    // if the request failed or succeeded
		    request.always(function () {
		        // Reenable the input
		        $this.button('reset');
		        $this.prop('disabled', false);
		        $("#input-area").prop("disabled", false);
				$("#output-area").prop("disabled", false);
		    });
		});
	</script>
{% endblock %}