<!DOCTYPE html>

{% import "macros.html" as m %}

<html>

	{% block head %}

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
	<meta name="description" content="">
	<meta name="author" content="">

	<link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="img/x-icon">

	<!-- Browser tab name -->
	<title>FILIPINEU - {{ title }}</title>
	
	<!-- Bootstrap Core CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}">

	<!-- Custom Font -->
	<link rel="stylesheet" href="{{ url_for('static', filename='lib/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/simple-line-icons/css/simple-line-icons.css') }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">

    <script type="text/javascript" scr="{{ url_for('static', filename='js/layout.js') }}"></script>

	{% endblock %}

	<body id="page-top">

		{% with messages = get_flashed_messages(with_categories=true) %}
			<!-- Message flashing -->
		  	{% if messages %}
		    	<ul>
		    		{% for category, message in messages %}
		      			<li class="ui {{ category }} message flash">{{ message }}</li>
		    		{% endfor %}
		    	</ul>
		  	{% endif %}
		{% endwith %}

   		{% block content %}

   		{% endblock %}

		<footer class="text-center">
			<a href="#page-top" data-toggle="tooltip" title="Back to Top">
			    <i class="fa fa-chevron-up fa-3x" aria-hidden="true"></i>
			</a>
			<div class="container">
				<p>&copy; 2018 FILIPINEU. All Rights Reserved.</p>
			</div>
		</footer>

		{% block script %}
			<!-- Bootstrap Core Javascript -->
			<script type="text/javascript" src="{{ url_for('static', filename='lib/jquery/jquery.min.js') }}"></script>
			<script type="text/javascript" src="{{ url_for('static', filename='lib/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

			<!-- Plugin JavaScript -->
		    <script src="{{ url_for('static', filename='lib/jquery-easing/jquery.easing.min.js') }}"></script>

		    <!-- Custom Scripts -->
		    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.isotope.js') }}"></script>
		    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-scrolltofixed.js') }}"></script>
		{% endblock %}

	</body>
</html>
